<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Enquete</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{--  <link href="{{ route('/')}}css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ route('/')}}css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>  --}}
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  
</head>
<body>
  
@include('layouts/partials/header')

  <div class="container">
    @section('content')
    
    @endsection
  </div>
  
@include('layouts/partials/footer')


  </body>
</html>
